/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 déc. 2020, 13:59:07
    Author     : Florent Paccalet
*/

button[type="submit"] {
  display: none;
}

circle {
    cursor: pointer;
}